<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>nu.lansingcarworkshop.servlets.login.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreatePersonServlet</servlet-name>
        <servlet-class>nu.lansingcarworkshop.servlets.person.CreatePersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePersonServlet</servlet-name>
        <url-pattern>/CreatePersonServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadPersonServlet</servlet-name>
        <servlet-class>nu.lansingcarworkshop.servlets.person.ReadPersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadPersonServlet</servlet-name>
        <url-pattern>/ReadPersonServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdatePersonServlet</servlet-name>
        <servlet-class>nu.lansingcarworkshop.servlets.person.UpdatePersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePersonServlet</servlet-name>
        <url-pattern>/UpdatePersonServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePersonServlet</servlet-name>
        <servlet-class>nu.lansingcarworkshop.servlets.person.DeletePersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePersonServlet</servlet-name>
        <url-pattern>/DeletePersonServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateVehicleServlet</servlet-name>
        <servlet-class>nu.lansingcarworkshop.servlets.vehicle.CreateVehicleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateVehicleServlet</servlet-name>
        <url-pattern>/CreateVehicleServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadVehicleServlet</servlet-name>
        <servlet-class>nu.lansingcarworkshop.servlets.vehicle.ReadVehicleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadVehicleServlet</servlet-name>
        <url-pattern>/ReadVehicleServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateVehicleServlet</servlet-name>
        <servlet-class>nu.lansingcarworkshop.servlets.vehicle.UpdateVehicleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateVehicleServlet</servlet-name>
        <url-pattern>/UpdateVehicleServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteVehicleServlet</servlet-name>
        <servlet-class>nu.lansingcarworkshop.servlets.vehicle.DeleteVehicleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteVehicleServlet</servlet-name>
        <url-pattern>/DeleteVehicleServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateServiceTaskServlet</servlet-name>
        <servlet-class>nu.lansingcarworkshop.servlets.servicetask.CreateServiceTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateServiceTaskServlet</servlet-name>
        <url-pattern>/CreateServiceTaskServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadServiceTaskServlet</servlet-name>
        <servlet-class>nu.lansingcarworkshop.servlets.servicetask.ReadServiceTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadServiceTaskServlet</servlet-name>
        <url-pattern>/ReadServiceTaskServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateServiceTaskServlet</servlet-name>
        <servlet-class>nu.lansingcarworkshop.servlets.servicetask.UpdateServiceTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServiceTaskServlet</servlet-name>
        <url-pattern>/UpdateServiceTaskServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServiceTaskServlet</servlet-name>
        <servlet-class>nu.lansingcarworkshop.servlets.servicetask.DeleteServiceTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServiceTaskServlet</servlet-name>
        <url-pattern>/DeleteServiceTaskServlet</url-pattern>
    </servlet-mapping>


</web-app>